body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #7acd75 0%, #4b4b4b 50%, #25cd1c 100%);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.btn-link{
  display: inline-block;
  padding: 5px 5px;
  background-color: #ff7f50;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration:none;
  color: black;
  font-size: 12px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.containir{
  background-color: rebeccapurple;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.btn-link:hover{
  background-color: #ee5d29;
}

#theme{
  position: fixed;
  top: 5px;
  left: 5px;
}

.dark-theme{
  background-color: rgb(7, 123, 123);
  color: white;
}
input{
  border: 1px solid black;
  border-radius: 10px;
  background-color: #7fffd4;
}

input::placeholder{
  color: black;
}

.btn-primary{
  background-color: #ff7f50;
  border: 1px solid black;
  border-radius: 10px;
}


button:hover{
  background-color: #ee5d29;
}
