body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(9150deg, #7acd75 0%, #4b4b4b 50%, #25cd1c 100%);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.btn-link{
  display: inline-block;
  padding: 5px 5px;
  background-color: #ff7f50;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration:none;
  color: black;
  font-size: 12px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.containir{
  background-color: rebeccapurple;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.btn-link:hover{
  background-color: #ee5d29;
}

#theme{
  position: fixed;
  top: 5px;
  left: 5px;
}

.dark-theme{
  background-color: rgb(7, 123, 123);
  color: white;
}
input{
  border: 1px solid black;
  border-radius: 10px;
  background-color: #7fffd4;
}

input::placeholder{
  color: black;
}

.btn-primary{
  background-color: #ff7f50;
  border: 1px solid black;
  border-radius: 10px;
}


button:hover{
  background-color: #ee5d29;
}

.cycle{
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 50%;
  background: linear-gradient(75deg, #cd2b1c, #c8eb00,#f29d00);
  animation: pulse 2s infinite;
}

.rectangle{
  height: 200px;
  width: 100px;
  border: 1px solid black;
  border-radius: 50%;
  background: linear-gradient(75deg, #cd2b1c, #c8eb00,#f29d00);
  transform: translateY(-100px);
}

#cycle2{
  animation-delay: 1s;
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(0.5);}
  100% {transform: scale(1);}
}