<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	</head>
	<body>
		<button id="theme">Тема</button>
		<form method="post">
			<h1>Ваши данные</h1>
			<input
				type="text"
				name="user-name"
				placeholder="Введите ваше имя"
			/><br /><br />
			<input
				type="email"
				name="user-email"
				placeholder="Введите ваш email"
			/><br /><br />
			<input
				type="password"
				name="user-password"
				placeholder="Введите ваш пароль"
			/><br /><br />
			<button name="sub">Отправит</button>
			<a href="/all_result" class="btn-link">Данные пользователей</a>
		</form>

		<script src="{{ url_for('static', filename = 'script.js') }}"></script>
	</body>
</html>
